---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Lawn Mowing and Edging",
    description:
      "Keep your lawn clean, crisp and evenly trimmed with precision mowing and sharp edging for a polished, professional look.",
    icon: "bx:bxs-home",
  },
  {
    title: "Mulch Installation",
    description:
      "Enhance curb appeal and protect your plants with high-quality mulch that locks in moisture and controls weeds year-round.",
    icon: "bx:bxs-leaf",
  },
  {
    title: "Spring & Fall Cleanups",
    description:
      "Refresh your yard for the season with thorough debris removal, leaf cleanup and prepping your lawn for healthy growth.",
    icon: "bx:bxs-cloud",
  },
  {
    title: "Hedge & Shrub Trimming",
    description:
      "Shape and maintain healthy, beautiful shrubs and hedges with expert trimming that promotes growth and enhances your landscape.",
    icon: "bx:bxs-tree",
  },
  {
    title: "Weed Control",
    description:
      "Eliminate stubborn weeds and protect your lawn’s health with targeted, environmentally safe weed control solutions.",
    icon: "bx:bxs-shield",
  },
  {
    title: "Custom Lawn Maintenance Plans",
    description:
      "Tailored lawn care programs designed to meet your specific needs — keeping your yard lush, green, and healthy all year long.",
    icon: "bx:bxs-calendar",
  },
];
---

<div>
  <h2 class="text-4xl font-bold text-center mb-6">Project Gallery</h2>
  <p class="text-center text-gray-400 text-lg md:text-xl mb-10">
    A few examples of the work we’ve done for homeowners in the area.
  </p>

  <div
    class="aspect-w-4 aspect-h-3 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-6 px-2">
    <img
      src="/striped_lawn_01.jpeg"
      alt="Freshly mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
    <img
      src="/dads-yard-2.jpg"
      alt="Freshly mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
    <img
      src="/front-lawn-checkered.jpg"
      alt="Freshly mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
    <img
      src="/front-lawn-checkered-left.jpg"
      alt="Freshly mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
    <img
      src="/nikolas-project-back-corner.jpg"
      alt="Freshley mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
    <img
      src="/nikolas-project-side-house.jpg"
      alt="Freshly mowed lawn"
      class="w-full h-full object-cover rounded-xl shadow-md hover:scale-105 transition-transform duration-300"
    />
  </div>
</div>
<div class="mt-16 rounded-2xl bg-stone-900/50 p-10 shadow-lg">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold text-center lg:tracking-tight">
      Landscaping Services
    </h2>
    <p class="text-lg md:text-xl text-center mt-4 text-gray-400">
      We offer complete, professional lawncare services tailored to keep your
      yard looking its best all season long.
    </p>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-stone-950 rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-green-500" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-gray-400 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
